@import "./scss/bulma";

.App {
  min-height: 100vh;
  padding-top: $navbar-height;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 0;
}

