.navbar {
    background-color: grey
}

.navbar-menu {
    padding: 0;
}

.navbar-menu .navbar-item {
    text-transform: uppercase;
    background-color:  gray;
}

.navbar-dropdown .navbar-item:hover{
    background-color: gray;
}

.navbar-menu.is-active .navbar-item:not(:first-child) {
    border-top: 1px solid #ffffff;
}

.navbar-item {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

.navbar.is-fixed-top {
    transition: all 0.7s;
    top: 0;
    opacity: 1;
}

.navbar.is-fixed-top.is-rolled {
    top: -100px;
    opacity: 0;
}

.navbar-burger {
    height: auto;
}

.navbar-item .icon {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    margin-right: 0.25rem;
}

.navbar-dropdown {
 padding: 0;
}

